
.nfd-nextsteps {

    .nfd-track {
        border: 1px solid #336AD7;
        border-radius: 4px;
        margin-bottom: 1.5rem;
        
        &:hover {
            background-color: #EAF4FB;
        }

        .nfd-track-header,
        .nfd-track-sections {
            padding: 1rem;
        }

        .nfd-track-title {
            padding: 0 !important;
        }
    }

    .nfd-track-header,
    .nfd-section-header {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        transition: background-color .2s ease-in-out;
        
        .nfd-header-icon {
            transition: color .2s ease-in-out;
        }

        &:hover .nfd-header-icon {
            color: #336AD7
        }
    }

    .nfd-track-header-icon {
        width: 2rem;
        width: 2rem;
        transform: rotate(180deg);
    }
    .nfd-track[open] {
        background-color: #EAF4FB;
        
        .nfd-track-header-icon {
            transform: rotate(0deg);
        }
    }

    .nfd-section {
        background-color: #ffffff;
        border: 1px solid #D1E1FF;
        border-radius: 1rem;
        margin-bottom: 1rem;
        
        .nfd-section-header,
        .nfd-section-steps {
            padding: 1rem;
        }
    }
    
    .nfd-section-header h3 {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 !important;
    }

    .nfd-section-header-icon,
    .nfd-section-header-icon-opened,
    .nfd-section-header-icon-closed {
        width: 1.75rem;
        height: 1.75rem;
    }
    .nfd-section-header-icon {
        .nfd-section-header-icon-opened {
            display: none;
        }
        .nfd-section-header-icon-closed {
            display: inline-block;
        }
    }
    .nfd-section[open] {
        .nfd-section-header-icon {
            .nfd-section-header-icon-opened {
                display: inline-block;
            }
            .nfd-section-header-icon-closed {
                display: none;
            }
        }
    }

    .nfd-progress-bar {
        background-color: #E0E8EED1;
        border-radius: 1rem;
        height: 1rem;
        max-width: 50%;
        position: relative;
    }
    .nfd-progress-bar-inner {
        background-color: #336AD7A8;
        border-radius: 1rem;
        height: 1rem;
        z-index: 1;
    }
    .nfd-progress-bar-label {
        position: absolute;
        top: 0;
        right: 0.75rem;
        color: #336AD7;
        z-index: 2;
        font-size: 11px;
    }


    .nfd-nextsteps-step {
        border: 1px solid #D7D7D7;
        border-radius: 1rem;
        padding: 10px;
        margin-bottom: 10px;
        transition: .2s all ease-in-out;

        &:hover {
            background-color: #EAF4FB;
            border-color: #336AD7;
        }
    }

    .nfd-nextsteps-step-done {
        // text-decoration: line-through;
        background-color: #F6FDE8 !important;
        border-color: #78AE144A;
    }
    .nfd-nextsteps-step-dismissed {
        text-decoration: line-through;
    }

    .nfd-ml-auto {
        margin-left: auto;
    }
    .nfd-nextsteps-button {
        display: inline-flex;
        color: #7E7E7E;
        text-decoration: none;
        align-items: center;

        &:hover {
            color: #336AD7
        }
        svg {
            width: 100%;
        }
    }
    
    .nfd-nextsteps-button-todo {
        width: 1.5rem;

        &:hover {
            color: #ABAE14;
        }
    }
    .nfd-nextsteps-button-dismiss {
        width: 1.5rem;
    }
    .nfd-nextsteps-button-link {
        width: 2.5rem;
    }
    .nfd-nextsteps-button-redo {
        width: 1.5rem;
        color: #ABAE14;
    }

    .next-steps-spinner {
        margin: 2rem auto;
    }
}